<div class="wrapper-message">
  <div class="messages">

    <div class="clearfix">
      <div class="people-list" id="people-list">
        <div class="search">
          <input type="text" placeholder="search" class="search-list" />
            <!-- <i class="fa fa-search"></i> -->
        </div>
        <div class="people">
          <ul class="list-inline">
          <% @job_applications.each do |conversation| %>
            <li>
              <%= link_to conversation_job_offer_job_application_path(@job_offer, conversation) do %>
              <div class="candidate-informations">
                <p><%= conversation.candidate.email %> - <span id="status"><%= conversation.messages.count %> messages</span></p>
              </div>
              <% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>

      <div class="chat">
        <div class="chat-about">
          <div class="chat-with">Chat with <%#= @job_applications.candidate.email %></div>
          <div class="chat-num-messages">already <%#= @job_applications.messages.count %> messages</div>
        </div>
        <div class="chat-history">
          <% @job_applications.first.messages.each do |message| %>
            <div class="recruiter-messages">
              <p class="text-right"><%= message.content %></p>
            </div>
          <% end %>
        </div>
        <div class="chat-message">
          <%= simple_form_for [@job_offer, @job_applications.first, @new_message] do |f| %>
            <%= f.input :content, placeholder:"type your message", class:"placeholder-message" %>
            <%= f.button :submit, class:"button-send" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



    <!-- <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

      </div>
    </div> -->


 <!-- regarder les roots de l'action create de message, il nous faut les id de job_offer et job_application dans l'ordre, et @new_message (action messages#create) -->
     <!-- <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

     </div>
    </div>
  </div>
</div> -->


