<div class="messages">
  <div class="clearfix">
    <div class="people-list" id="people-list">
      <div class="search">
        <input type="text" placeholder="search" class="search-list" />
          <!-- <i class="fa fa-search"></i> -->
      </div>
      <div class="people">
        <ul>
        <% @conversations.each do |conversation| %>
          <li>
            <%= link_to conversation_job_offer_job_application_path(@job_offer, conversation) do %>
              <%= conversation.candidate.email %>
              <%= conversation.messages.count %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="chat">
      <div class="chat-about">
        <div class="chat-with">Chat with <%= @conversations.candidate.email %></div>
        <div class="chat-num-messages">already <%= @conversations.messages.count %> messages</div>
      </div>
    </div>
  </div>
</div>
