<div class="gray-background"> <!-- couleur de fond grise -->

 <!-- LE CV -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="cv-wrapper"> <!-- div englobbante  -->
          <% if @candidate == current_candidate %>
            <% if @experiences.empty? == false %>
              <p><%= link_to "Add an Experience", new_experience_path %></p>
            <% else %>
              <br>
              <%= link_to "Build your CV", new_experience_path, class: "text-center btn btn-primary", id: "booking-button" %>
            <% end %>
          <% end %>

          <!-- les expériences pro -->
          <h3><i class="fa fa-wpforms" aria-hidden="true"></i> EXPERIENCES</h3>
          <% if @experiences_sorted.empty? %>
          <% else %>
            <div class="">
              <% @experiences_sorted.each do |experience| %>
                <div class="">
                  <h4 class="display-inline"><%= experience.title + " @ " + experience.organization %></h4>
                  <% if @job_application.candidate == current_candidate %>
                    <%= link_to "Edit /", root_path, class: "padded-left-5px" %>
                    <%= link_to "Delete", experience_path(experience), method: :delete %>
                  <% end %>
                  <p class="display-inline"><%= experience.start_date.month.to_s + "/" + experience.start_date.year.to_s + " - " + experience.end_date.month.to_s + "/" + experience.end_date.year.to_s + " >> " %>
                  <% if (((experience.end_date - experience.start_date)/30.5).to_i/12) != 0 %>
                    <%=  (((experience.end_date - experience.start_date)/30.5).to_i/12).to_s + " year(s) " %>
                  <% end %>
                  <% if (((experience.end_date - experience.start_date)/30.5).to_i%12) != 0 %>
                    <%= (((experience.end_date - experience.start_date)/30.5).to_i%12).to_s + " month(s)" %><p>
                  <% end %>
                  <p><%= experience.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>
          <!-- button de modal: Add XP -->
          <button type="button" id="booking-button" class="btn btn-primary" data-toggle="modal" data-target="#AddExperienceModal">Add Experience</button>

          <!-- les formations -->
          <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> EDUCATION</h3>
          <% if @educations_sorted.empty? %>
          <% else %>
            <div class="">
              <% @educations_sorted.each do |education| %>
                <div class="">
                  <h4 class="display-inline"><%= education.title + ' @ ' + education.organization %></h4>
                    <% if @candidate == current_candidate %>
                      <%= link_to "Edit /", root_path, class: "padded-left-5px" %>
                      <%= link_to "Delete", root_path, method: :delete %>
                    <% end %>
                  <p><%= education.start_date.year.to_s + " - " + education.end_date.year.to_s + " >> " + ([(education.end_date.year - education.start_date.year), 1].max ).to_s + " year(s)" %><p>
                  <p><%= education.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>
          <!-- button de modal: Add Education -->
          <button type="button" id="booking-button" class="btn btn-primary" data-toggle="modal" data-target="#AddEducationModal">Add Education</button>

          <!-- les langues -->
          <% if @languages.empty? %>
          <% else %>
            <div class="">
              <h3><i class="fa fa-globe" aria-hidden="true"></i> LANGUAGES</h3>
              <ul><% @languages.each do |language| %>
                  <li><%= language.name + ' >> ' + language.proficiency %>
                    <% if @candidate == current_candidate %>
                      <%= link_to "Edit /", root_path, class: "padded-left-5px" %>
                      <%= link_to "Delete", root_path, method: :delete %>
                    <% end %>
                  </li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <!-- button de modal: Add Language -->
          <button type="button" id="booking-button" class="btn btn-primary" data-toggle="modal" data-target="#AddLanguageModal">Add Language</button>
        </div> <!-- div englobbante du cv  -->

      </div> <!-- col de bootstrap -->
    </div> <!-- row de bootstrap -->
  </div> <!-- container de bootstrap -->
</div> <!-- couleur de fond grise -->


<!-- SCRIPTS -->


<!-- modal Add Experience -->
<div class="modal fade" id="AddExperienceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Experience</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@experience) do |field| %>
            <%= field.input :title %>
            <%= field.input :organization %>
            <%= field.input :start_date, discard_day: true, order: [:month, :year] %>
            <%= field.input :end_date, discard_day: true, order: [:month, :year] %>
            <%= field.input :present %>
            <%= field.input :description %>
            <%= field.input :company_size %>
            <%= field.input :industry %>
            <%= field.input :job_application_id, as: :hidden, input_html: {value: @job_application.id} %>
            <%= field.button :submit %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<!-- modal Add Education-->
<div class="modal fade" id="AddEducationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Education</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@education) do |field| %>
            <%= field.input :degree_type %>
            <%= field.input :degree_field %>
            <%= field.input :organization %>
            <%= field.input :start_date, discard_day: true, discard_month: true %>
            <%= field.input :end_date, discard_day: true, discard_month: true %>
            <%= field.input :description %>
            <%= field.input :job_application_id, as: :hidden, input_html: {value: @job_application.id} %>
            <%= field.button :submit %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<!-- modal Add Language -->
<div class="modal fade" id="AddLanguageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Language</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@language) do |field| %>
            <%= field.input :name %>
            <%= field.input :proficiency %>
            <%= field.input :job_application_id, as: :hidden, input_html: {value: @job_application.id} %>
            <%= field.button :submit %>
          <% end %>
      </div>
    </div>
  </div>
</div>
