
<!-- Second navbar -->
<div class="second-navbar-job-applications">
    <div class="navbar-higher-brand-recruiter2">
    <%= image_tag "LOreal_black_vector.png" %>
    </div>
  <div class="bottom-second-navbar">
  </div>
</div>

<!-- Side bar -->
<div class="menu-job-applications">
  <div class="menu-header">
    <button type="button" class="btn btn-primary padding-button">Filters</button>
    <div class="menu-header-text">
      <strong><p>All (<%= @job_applications.all.length %>)</p></strong>
      <p>Contacted (0)</p>
      <p>New (0)</p>
    </div>
  </div>
  <div class="menu-profils">
      <% current_recruiter.organization.recruiters.each do |recruiter| %>
    <div class="mini-menu-profils">
      <%= recruiter.title %>
    </div>
      <% end %>
  </div>
</div>

<!-- Table -->
<div class="wrapper-table-job-offer text-center">
  <div>
    <div class="table-applications-wrapper">
      <div class="table-applications-header">
        <div id="table-columns-1" class="text-center"></div>
        <div id="table-columns-2" class="text-center">Candidate</div>
        <div id="table-columns-3" class="text-center">Fit</div>
        <div id="table-columns-4" class="text-center">XP</div>
        <div id="table-columns-5" class="text-center">Companies</div>
        <div id="table-columns-6" class="text-center">Education</div>
        <div id="table-columns-7" class="text-center">Languages</div>
        <div id="table-columns-8" class="text-center">Date</div>
      </div>

     <% @job_applications.each_with_index do |job_application, y| %>
      <div class=table-applications>
        <div id="table-columns-1" class="text-center"><%= y + 1 %></div>

        <div id="table-columns-2" class="text-center"><%= job_application.experiences.first.title %> @ <%= job_application.experiences.first.organization %></div>

        <div id="table-columns-3" class="text-center">82.1%</div>

        <div id="table-columns-4" class="text-center">5 years</div>

        <div id="table-columns-5" class="text-center"><% job_application.experiences.each do |experience| %>
            <%= experience.organization %>
            <% end %>
        </div>

        <div id="table-columns-6" class="text-center"><%= job_application.educations.first.organization %></div>

        <div id="table-columns-7" class="text-center"><% job_application.languages.each do |language| %>
            <%= language.name %>
            <% end %>
        </div>

        <div id="table-columns-8" class="text-center"><%= job_application.created_at.strftime("%A") %></div>
      </div>
      <% end %>
    </div>
   </div>

</div>

















