<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">

<!-- Second navbar -->
<div class="second-navbar-job-applications">

    <div class="navbar-higher-brand-recruiter2">
    <%= image_tag "LOreal_black_vector.png" %>
    </div>
    <div class="job-offer-title-job-applications"><%= @job_offer.title %></div>
    <%= form_tag batch_deletion_job_offer_job_applications_path, method: :delete do %>
      <%= hidden_field_tag :job_application_ids %>
      <button class="mdl-button mdl-js-button mdl-button--raised delete-but">Delete</button>
    <% end %>
  <div class="bottom-second-navbar">
  </div>
</div>

<!-- Side bar -->
<div class="menu-job-applications">
  <div class="menu-header">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="padding-button">Filters</button>
    <div class="menu-header-text">
      <strong><p>All (<%= @job_applications.all.length %>)</p></strong>
      <p>Contacted (0)</p>
      <p>New (0)</p>
      <%= link_to "Messages", conversations_job_offer_job_applications_path(@job_offer, class: "mdl-button mdl-js-button mdl-button--raised delete-but") %>
    </div>
  </div>
  <div class="menu-profils">
      <% current_recruiter.organization.recruiters.each do |recruiter| %>
    <div class="mini-menu-profils">
      <%= recruiter.title %><br>
      <% if recruiter == current_recruiter %>
        <i class="fa fa-circle green-point" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-circle red-point" aria-hidden="true"></i>
      <% end %>
        <i class="fa fa-comment-o text-center" aria-hidden="true"></i>
    </div>
      <% end %>
  </div>
</div>

<!-- Table -->
<div class="wrapper-table-job-offer text-center">
  <div>
    <div class="table-applications-wrapper">
      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
        <thead>
          <tr>
            <th></th>
            <th class="mdl-data-table__cell--non-numeric">Candidate</th>
            <th>Fit</th>
            <th>XP</th>
            <th>Companies</th>
            <th>Education</th>
            <th>Languages</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @job_applications.each_with_index do |job_application, y| %>
            <%= link_to job_offer_job_application_path(@job_offer, job_application) do %>
              <tr>
                <td><%= y + 1 %></td>
                  <!-- iterate over experiences -->
                  <% if job_application.experiences.first %>
                    <td class="mdl-data-table__cell--non-numeric"><%= job_application.experiences.first.title %> @ <%= job_application.experiences.first.organization %></td>
                    <td class="mdl-data-table__cell--non-numeric"><%= link_to "86.7%", job_offer_job_application_path(@job_offer, job_application) %></td>
                    <td>5y +</td>
                    <td><% job_application.experiences.each do |experience| %>
                        <%= experience.organization %>
                        <% end %>
                    </td>
                  <% else %>
                    <td class="mdl-data-table__cell--non-numeric"> - </td>
                    <td class="mdl-data-table__cell--non-numeric">86.7%</td>
                    <td>0</td>
                    <td> - </td>
                  <% end %>
                  <!-- iterate over educations -->
                  <% if job_application.educations.first %>
                    <td><%= job_application.educations.first.organization %></td>
                  <% else %>
                    <td> - </td>
                  <% end %>
                  <!-- iterate over languages -->
                  <% if job_application.languages %>
                    <td><% job_application.languages.each do |language| %>
                    <%= language.name %>
                    <% end %>
                  <% else %>
                    <td> - </td>
                  <% end %>

                </td>
                <td><%= job_application.created_at.strftime("%A") %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
   </div>
</div>

<!-- Modal to show the profil -->
<div class="modal">

</div>

<% content_for :after_js do %>
  <script>
  window.onload = function(){
    $('.wrapper-table-job-offer .mdl-checkbox__input').click(function(){
      var row = $(this).parents('tr');
      var id = $(row).find('.job-application-id').data('id');
      var checked_for_deletion = $(this).prop('checked');

      if (checked_for_deletion) {
        var hidden_field = $("#job_application_ids");
        var new_value = $(hidden_field).val() + "," + id;
        $(hidden_field).val(new_value);
      }
    });
  }
  </script>
<% end %>








