<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2>It looks like you are new here..</h2>
      <h3>Please fill up this form for me</h3>

      <%= simple_form_for(@candidate) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="form-inputs">
          <%= f.input :first_name, required: true, autofocus: true %>
        </div>

        <div class="form-inputs">
          <%= f.input :last_name, required: true, autofocus: true %>
        </div>

        <div class="form-inputs">
          <%= f.input :phone_number, required: true, autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send it to me" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
