<!-- NAVBAR FOR CANDIDATES (in the funnel)-->
<div class="navbar-higher-funnel"></div><!-- spacer to compensate the 'fixed navbar offset' -->
<div class="navbar-higher-funnel navbar-higher-fixed">

  <!-- Logo Recruiter / relative<=>absolute to navbar-higher-funnel -->
  <%= link_to 'job_offers#index', class: "navbar-higher-brand-recruiter" do %>
    <%= image_tag "LOreal_white_vector.png" %>
  <%end %>

  <!-- Logo Higher / relative<=>absolute to navbar-higher-funnel -->
  <%= link_to 'job_offers#index', class: "navbar-higher-brand-funnel" do %>
    <%= image_tag "name-logo-small.png" %>
  <%end %>

  <!-- dropdown / relative<=>absolute to navbar-higher-funnel -->
    <div class="dropdown" id="funnel-logout-triangle">
      <i class="fa fa-caret-down navbar-higher-menu" data-toggle="dropdown" aria-hidden="true"></i>

      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_candidate_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div> <!-- end of dropdown -->

  <!-- FUNNEL STEPS DASHBOARD + IMPORT DATA + VIEW AS EMPLOYER -->
  <div class="container">
    <div class="row">
      <div class="col-xs-1 col-xs-offset-2">
        <h6 style="color: white">import</h6>
        <h6 style="color: white">data</h6>
      </div>
      <div class="col-xs-4 col-xs-offset-1">
        <div class="funnel-steps-flexbox" > <!-- flex dev with 3 circles -->

          <!-- job -->
          <div class="tabs" data-target="#job-offer">
            <div class="circle">1</div>
            <h6 class="funnel-titles">job</h6>
          </div>
          <!-- resume -->
          <div class="tabs" data-target="#resume">
            <div class="circle text-center">2</div>
            <h6 class="funnel-titles">résumé</h6>
          </div>
          <!-- cover letter -->
          <div class="tabs" data-target="#cover-letter">
            <div class="circle text-center">3</div>
            <h6 class="funnel-titles">details</h6>
          </div>

        </div>
      </div>

      <!-- view as employer button -->
      <a href="" data-toggle="modal" data-target="#ViewAsEmployerModal">
        <div class="col-xs-1 col-xs-offset-1" id="button-view-as-employer">
          <h6 style="color: white", class="text-right">view as</h6>
          <h6 style="color: white" class="text-right">employer</h6>
        </div>
      </a>
    </div> <!-- end of row -->
  </div> <!-- end of container -->

</div> <!-- end of navbar for recruiters -->
