<!-- NAVBAR FOR VISITORS -->
<div class="navbar-higher"></div> <!-- spacer to compensate the 'fixed navbar offset' -->
<div class="navbar-higher navbar-higher-fixed">

  <!-- Logo -->
  <%= link_to 'job_offers#index', class: "navbar-higher-brand" do %>
    <%= image_tag "name-logo-small.png" %>
  <%end %>

    <!-- info -->
    <div class="text-center hr-content">
      <p>HR solution of the future</p>
    </div>

    <!-- Jobs links & about -->
    <div class="navbar-wagon-item job-content">
      <%= link_to "Jobs", job_offers_path, class: "navbar-higher-link" %>
    </div>
    <%= link_to "connect as recruiter", job_offers_path, class: "btn btn-primary" %>
    <%= link_to "connect as candidate", new_candidate_session_path, class: "btn btn-primary" %>

</div> <!-- end of navbar -->

